@import "tailwindcss";
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

body {
  @apply antialiased;
}

main {
  @apply min-h-screen;
}

button,
a {
  @apply cursor-pointer;
}
